<h1>This is Addison's Calculator App</h1>

<p>
  <ul style="list-style: none;">
    <li>To add go to /calculators/add/x/y</li>
    <li>To subtract go to /calculators/subtract/x/y</li>
    <li>To multiply go to /calculators/multiply/x/y</li>
    <li>To divide go to /calculators/divide/x/y</li>
  </ul>

</p>